<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.learn.growthcodelab"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DataBindingActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.FitSystemWindowActivity"
                  android:theme="@style/NoActionBar"
            />
        <activity android:name=".activity.RecyclerActivity"/>
        <activity android:name=".activity.MeasurementActivity"/>
        <activity android:name=".activity.DrawableActivity"/>
        <activity android:name=".activity.PlayGroundActivity"/>
        <activity android:name=".activity.LayoutActivity"/>
        <activity android:name=".activity.ViewPagerActivity"/>
        <activity android:name=".activity.TransitionActivity"/>
        <activity android:name=".fullscreen.FullScreenActivity"
                  android:theme="@style/NoActionBar"
            />
        <activity android:name=".aboutfragment.FragmentActivity"/>
        <activity android:name=".handler.HandlerActivityJ"/>
        <activity android:name=".handler.HandlerActivity"/>
        <activity android:name=".touchagain.TouchAgainActivity"/>
        <activity android:name=".search.SearchActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".window.WindowActivity"/>
        <activity android:name=".viewshowcase.ViewShowcaseActivity"/>
        <activity android:name=".architecture.guide.ui.UserProfileActivity"/>
        <activity android:name=".architecture.jetpack.word.ui.WordsActivity"/>
    </application>

</manifest>